.product-main{
    display:flex;
    gap:30px;
    margin-top: 32px;
   
}
.category-name
{
  text-transform: capitalize;
}
.up
{
    transform: rotate(90deg)

}
.down
{
    transform: rotate(-90deg);
    margin-left: 14px;
}
.small-photo-container
{
    
    display: grid;
   grid-template-rows: repeat(4,144px);
    row-gap: 16px;
}
.small-photo-item
{
    width: 94px;
    height: 114px;
}
.small-photo-item:nth-child(1)
{
    background: url("../../../img/png/product_small/1.jpg");
  
}
.small-photo-item:nth-child(2)
{
    background: url("../../../img/png/product_small/2.jpg");
  
}
.small-photo-item:nth-child(3)
{
    background: url("../../../img/png/product_small/3.jpg");
  
}
.small-photo-item:nth-child(4)
{
    background: url("../../../img/png/product_small/4.jpg");
  
}
.big-photo-section
{
    background: url("../../../img/png/product_small/big.jpg");
    width:448px;
    min-width: 350px;
    height: 560px;
   
}
.arrows-product
{
    position: relative;
    top:50%;
   
   
    
}
.arrows-product img{
    
    position: absolute;
    padding: 0px 16px;
    

}
.right
{
    right: 0px;
    transform: rotate(180deg);
}
.information-section
{
    max-width: 522px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.color-title
{
  padding-bottom: 16px;
}
.color-image-item
{
    width:64px;
    height: 64px;
}
.color-image-item:nth-child(1)
{
    background: url("../../../img/png/product_small/colors/1.jpg");
}
.color-image-item:nth-child(2)
{
    background: url("../../../img/png/product_small/colors/2.jpg");
}
.color-image-item:nth-child(3)
{
    background: url("../../../img/png/product_small/colors/3.jpg");
}
.color-image-item:nth-child(4)
{
    background: url("../../../img/png/product_small/colors/4.jpg");
}
.color-images
{
    display:flex;
    gap:16px;
}
.size-list
{
    display:flex;
    gap:16px;

}
.size-list .size-item
{
    background: #F8F8F8;
    width: 40px;
    height: 40px;
    text-align: center;
}
.size-list .size-item:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .price-section
  {
      display:flex;
      gap:24px;
      border-top:    2px solid  #E5E5E5;
border-bottom: 2px solid #E5E5E5;
padding: 32px 0px;
  }
  .price-block
  {
   

font-weight: bold;
font-size: 22px;
text-transform: uppercase;
color: #121212;



  }
  .add-to-cart
  {
      background-color: #121212;
      padding: 17px 24px;
      border:none;
  }
  .img-price-item
  {
      height: 45px;
      width: 48px;
  }
  .price-section div::after{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;

  }
  .add-to-cart{
     

font-style: normal;
font-weight: 500;
font-size: 13px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.9;

  }
  .adv-section
  {
      display:flex;
      justify-content: space-between;
      padding: 35px 0px;
      flex-wrap: wrap;
  }
  
  
      
  .adv-block-item{

display:flex;
font-weight: 500;
font-size: 12px;
color: #121212;
opacity: 0.6;
align-items: center;

  }
  .adv-block-item img{
      width: 24px;
      height: 24px;
      margin-right: 6px;
  }
  .line-section{
      position: relative;
      height: auto;
  }
  .up-line
  {
      /* guaranteed safe checkout */

position: absolute;
left:0px;
top: -8px;
display: inline-block;
background: white;

font-style: normal;
font-weight: 600;
font-size: 12px;
text-transform: uppercase;
color: #121212;
z-index: 1;
padding-right: 12px;
vertical-align: middle;
  }
  .line-section hr{
      position: absolute;
      top: 50%;
      width: 100%;
      border: 0;
      height: 2px;
      background: #E5E5E5;
  }
  .pay-color
  {
    border-top:    2px solid  #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    padding: 32px 0px;
    position: relative;
  
  }
  .pay-color-images
  {
      display: flex;
      gap:16px;
  }
  .description
  {
    
    border-bottom: 2px solid #E5E5E5;
    padding: 32px 0px;

font-style: normal;
font-weight: 600;
font-size: 12px;

text-transform: uppercase;

color: #121212;
opacity: 0.6;

  }
  .additional-section
  {
    border-bottom: 2px solid #E5E5E5;
    padding: 32px 0px;
  }
  .additional-section .title{

font-style: normal;
font-weight: 600;
font-size: 12px;
text-transform: uppercase;
display: block;

color: #121212;
padding-bottom: 32px;

  }
  .additional-section p 
  {
      margin-bottom: 12px;
  }
  .additional-section p .items{

font-style: normal;
font-weight: normal;
font-size: 14px;
color: #121212;
opacity: 0.6;

  }
  .review-section
  {
    
    border-bottom: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    padding: 32px 0px;
  }
  .review-section .title
  {


font-weight: 600;
font-size: 12px;
text-transform: uppercase;
color: #121212;


  }
  .add-rev
  {
    font-weight: 500;
    font-size: 12px;
    color: #121212;
    
    opacity: 0.6;
      display: flex;
      justify-content: space-between;
  }
  .write-rev button{
      background-color: transparent;
      border:none;
font-weight: 500;
font-size: 12px;
color: #121212;

opacity: 0.6;

  }
  .write-rev
  {
      display: flex;
      justify-content: center;
  }
  .stars span
  {
   margin-left: 6px;
  }

  .stars span{
    white-space: nowrap;
  }
  .item-header
  {
      display:flex;
      justify-content: space-between;
  }
  .rev-info 
  {
      display: inline-flex;
      align-items: center;
  }
  .rev-info img{
      height: 14px;
  }
  .rev-list
  {
      display:flex;
      flex-direction: column;
      gap:48px;
      padding-top: 25px;
  }
  .rev-author
  {


font-weight: 500;
font-size: 14px;

color: #121212;


  }
  .rev-info
  {

font-weight: 500;
font-size: 11px;

color: #121212;

opacity: 0.4;

  }
  .rev-text
  {

font-size: 14px;
line-height: 22px;

color: #121212;

opacity: 0.8;

  }
  .rev-buttons
  {
    padding: 32px 0px;
  }
  .related-head
  {
      display:flex;
      justify-content: space-between;
  }
  .related-products
  {
      margin: 96px 0px;
  }
  .related-head h3
  {



font-weight: 600;
font-size: 22px;


text-transform: uppercase;

color: #121212;


  }
  .related-list
  {
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .CategoryPage-infoblock
{
    width: 100%;
    background-color: #F8F8F8;
    padding: 7px 0px;
    max-width: 1280px;
    margin: 0px auto;
   
}

.info
{
    display:flex;
    align-items: center;
    justify-content: space-between;


font-weight: 500;
font-size: 11px;




color: #121212;

opacity: 0.6;

}
.title h3{
    text-align: center;
    font-weight: 600;
font-size: 26px;
text-transform: uppercase;

}
.info p{
    display: inline-block;
    margin-left: 8px;
}
.share
{
    display: flex;
    align-items: center;
}
.product-page-footer
{
  display: flex;
  justify-content: space-between;
  width: 100%;



font-style: normal;
font-weight: 500;
font-size: 11px;

color: #121212;
opacity: 0.6;

}
.product-page-footer-item> span{



font-weight: bold;
font-size: 11px;

color: #121212;
opacity: 0.9;


}
.photo-section
{
  display: flex;
  flex-wrap: nowrap;
  gap:20px;
}
@media (max-width: 1250px) {
  .pay-color-images{
    flex-wrap: wrap;
  }
.adv-section{
  flex-direction: column;
  gap:16px;
 
}
  
}
@media (max-width: 1100px)
{
  .product-main
  {
    flex-wrap: wrap;
  }
  .photo-section,.information-section
  {
    margin:0px auto;

  }
}
@media (max-width: 600px)
{
  .photo-section{
    flex-direction: column;
  }
}