.main-header{
    max-width: 1280px;
}
.header> .container:nth-child(1)
{
    background-color: #121212;
}
.container {
	max-width: 1280px;
	 padding-left: 85px;
    padding-right: 85px; 
	margin: 0 auto;
    box-sizing: border-box;


  
}
.logo
{
    margin: 0;
}
.main-header
{
    
   
     border-bottom: 2px solid #F8F8F8;
     display: flex;
     align-items: center;
     	justify-content: space-between;
	flex-wrap: wrap;
     
}



.main-nav ul {
    display: flex;
    font-size: 14px;
	text-align: center;
    gap:32px;
    padding: 0;

}
.main-nav li {
    display: inline;
	
}
.main-nav button {
	display: inline-block;
	padding: 0px;
    color:#121212;
    border:none;
    background: transparent;
}
.icons-list li{
    display: inline;
    height: 24px;

}
.icons-list {
    display: flex;
    gap:27px;

}
.top-bar
{
    background-color: #121212;
    
   
  width: 100%;
    display: flex;
    align-items: center;
    
}
.top-bar-items
{
    display:flex;
    justify-content: space-between;
  
    width: 100%;
}
.contact-info
{
    display: flex;
    color:#F8F8F8;
    font-size: 11px;
    align-items: center;
    gap:29px;
   
}
.contact-info-item
{
   display: flex;
   justify-content: center;
}
.contact-info-item img
{
  margin-right: 8px;
}
@media (max-width: 768px) {
    .container
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .top-bar-items{
        flex-direction: column;
        margin:5px 0px;
        align-items: center;

    }
    .contact-info
    {
        flex-direction: column;
        gap:10px;
    }
    .icons
    {
        margin: 10px 0px;
    }
    .main-header
    {
        flex-direction: column;
        margin:15px 0;
    }
    .main-nav ul{
flex-direction: column;
    };
    .icons-list{
        padding-left: 0px;
    }
}
